* {
  padding:0;
  margin: 0;
  box-sizing:border-box;
  
  
}

body{
  background: url("background.png");
  background-repeat: repeat;
  height: 50px;
}

.main{
  
  width: 500 px;
  height: 200px;
  margin: 200px auto;
  position: relative;
  padding: 30px;
}

.YearUp{
  
  color: black;
  padding: 15px 20px;
  width: 100px;
  font-weight: bold;
  position:absolute;
  top: -15px;
  left: 40%;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px
  
  
  
}

.digitalClock{
  
  text-align: center;
  font-size: 200px;
  font-family: 'impact', cursive;
  height: 100%;
  padding-top: 30px;
  border-radius: 5px;
  

}
